.root {
    position: relative;
    width: 100%;
    height: 100%;

    & > * {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.appear {
    position: absolute;
    opacity: 0;

    &:global(-active) {
        opacity: 1;
        transition: opacity .5s ease;
    }
}

.enter {
    position: absolute;
    opacity: 0;
    transform: translateX(100%);

    &:global(-active) {
        opacity: 1;
        transform: translateX(0%);
        transition: opacity .5s ease, transform .5s ease;
    }
}

.leave {
    position: absolute;
    opacity: 1;
    transform: translateX(0%);

    &:global(-active) {
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity .5s ease, transform .5s ease;
    }
}
