.root {
    padding-top: 27px;
}

.menu {
    position: fixed;
    display: block;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;

    & li {
        display: inline-block;
        padding: 5px 20px;
    }
}
